
.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text{
    font-family: sans-serif;
    font-size: 11px;
}
.map
{
    display: inline-block;
}
/*.stack{*/
    /*position: absolute;*/
    /*left: 150px;*/
    /*top: 750px;*/
/*}*/

